<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content />
    <meta name="author" content />
    <title>Form Data Latih</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link href="{{ url_for('static', filename='images/emotion.png') }}" rel="shortcut icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <style>
        #detectButtonContainer,
        #showDataButtonContainer {
            display: none;
        }
    </style>
</head>
<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="/Beranda">
                    <span class="fw-bolder text-primary">Deteksi Emosi</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item">
                            <a class="nav-link text-primary" style="font-size: 18px" href="/Beranda">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" style="font-size: 18px" href="/SingleAudio">Single Audio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" style="font-size: 18px;" href="/DataLatih">Data Latih</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="py-5">
            <div class="container px-5">
                <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Form Data Latih</h1>
                        <p class="lead fw-normal text-muted mb-0">Silahkan unggah audio pada tombol dibawah ini</p>
                        <br />
                        <p class="lead fw-normal text-danger mb-0">*MP3 dan WAV*</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form id="uploadForm" action="/DataLatih" method="POST" enctype="multipart/form-data">
                                <div class="mb-3" id="fileNameField"></div>
                                <div class="d-grid">
                                    <label for="fileInput" class="btn btn-primary btn-lg">
                                        Unggah
                                        <input type="file" id="fileInput" name="audioFiles" accept=".mp3, .wav" class="form-control d-none" multiple />
                                    </label>
                                </div>
                                <br>
                                <div class="d-grid" id="showDataButtonContainer">
                                    <button class="btn btn-success btn-lg" id="showDataButton" type="submit">Tampilkan Data</button>
                                </div>
                                <div id="fileInfo" class="mb-3"></div>
                                <div class="text-danger" id="errorMessage"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-file me-1"></i>
                        <strong>Tabel Data Latih </strong>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="audioTable">
                                <thead class="table-primary">
                                    <tr>
                                        <th style="text-align: center;">No</th>
                                        <th style="text-align: center;">Nama Audio</th>
                                        <th style="text-align: center;">Audio</th>
                                        <th style="text-align: center;">Nada Ori</th>
                                        <th style="text-align: center;">Intonasi Ori</th>
                                        <th style="text-align: center;">Volume Ori</th>
                                        <th style="text-align: center;">Label Manual</th>
                                        <th style="text-align: center;">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data %}
                                        {% for i, item in enumerate(data, start=1) %}
                                            <tr>
                                                <td style="text-align: center;">{{ i }}</td>
                                                <td style="text-align: center; font-size: large;">{{ item[0] }}</td>
                                                <td style="text-align: center;">
                                                    <audio controls>
                                                        <source src="{{ url_for('serve_audio', filename=item[0]) }}" type="audio/{{ item[0].split('.')[-1] }}">
                                                    </audio>
                                                </td>
                                                <td style="text-align: center; font-size: large;">{{ item[1] }}</td>
                                                <td style="text-align: center; font-size: large;">{{ item[2] }}</td>
                                                <td style="text-align: center; font-size: large;">{{ item[3] }}</td>
                                                <td style="text-align: center; font-size: large;">
                                                    <select class="form-select" id="labelSelect">
                                                        <option selected disabled>Pilih Label</option>
                                                        <option value="Marah">Marah</option>
                                                        <option value="Tidak Marah">Tidak Marah</option>
                                                    </select>
                                                </td>
                                                <td style="text-align: center;">
                                                    <button class="btn btn-danger btn-sm delete-button" data-index="{{ i-1 }}">Hapus</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <form id="DetectForm" action="/HasilDataLatih" method="POST" enctype="multipart/form-data">
                    <div class="d-grid justify-content-center" id="detectButtonContainer">
                        <button class="btn btn-danger btn-lg" id="detectButton" type="submit" style="width: 100px;">Deteksi</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="bg-white py-4 mt-auto" style="bottom: 0; width: 100%">
        <div class="container px-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                    <div class="small m-0 px-10" style="font-size: 18px">
                        <strong>Copyright &copy; JC Developer</strong>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script>
    const fileInput = document.getElementById("fileInput");
    const fileNameField = document.getElementById("fileNameField");
    const detectButton = document.getElementById("detectButton");
    const showDataButton = document.getElementById("showDataButton");
    const errorMessage = document.getElementById("errorMessage");
    const audioTableBody = document.querySelector("#audioTable tbody");

    showDataButton.style.display = "none";

    fileInput.addEventListener("change", function () {
        const files = this.files;
        fileNameField.innerHTML = "";
        errorMessage.textContent = "";
        let validFilesCount = 0;

        Array.from(files).forEach((file, index) => {
            const fileName = file.name;
            const fileType = file.type;

            const validTypes = ['audio/mpeg', 'audio/wav'];
            if (validTypes.includes(fileType) && file.size <= 3 * 1024 * 1024) {
                validFilesCount++;
                const row = document.createElement("tr");
                const audioUrl = URL.createObjectURL(file);

                row.innerHTML = `
                    <td style="text-align: center;">${validFilesCount}</td>
                    <td style="text-align: center; font-size: large;">
                        <span class="audio-name" data-audio="${audioUrl}">${fileName}</span>
                    </td>
                    <td style="text-align: center; font-size: large;">-</td>
                    <td style="text-align: center; font-size: large;">-</td>
                    <td style="text-align: center; font-size: large;">-</td>
                    <td style="text-align: center; font-size: large;">
                        <select class="form-select" id="labelSelect">
                            <option selected disabled>Pilih Label</option>
                            <option value="marah">Marah</option>
                            <option value="tidak_marah">Tidak Marah</option>
                        </select>
                    </td>
                    <td style="text-align: center;">
                        <button class="btn btn-danger btn-sm delete-button" data-index="${index}">Hapus</button>
                    </td>
                `;
                audioTableBody.appendChild(row);
            } else {
                errorMessage.textContent = "Beberapa file tidak valid (harus berformat MP3 atau WAV dan ukurannya tidak boleh melebihi 3 MB).";
            }
        });

        if (validFilesCount > 0) {
            detectButton.style.display = "block";
            showDataButton.style.display = "block";
        } else {
            detectButton.style.display = "none";
            showDataButton.style.display = "none";
        }
    });

    audioTableBody.addEventListener("click", function (event) {
        if (event.target && event.target.classList.contains("delete-button")) {
            const rowIndex = event.target.getAttribute("data-index");
            const dt = new DataTransfer();
            const { files } = fileInput;

            Array.from(files).forEach((file, index) => {
                if (index != rowIndex) {
                    dt.items.add(file);
                }
            });

            fileInput.files = dt.files;

            event.target.closest("tr").remove();

            Array.from(audioTableBody.rows).forEach((row, index) => {
                row.cells[0].innerText = index + 1;
            });

            if (fileInput.files.length > 0) {
                detectButton.style.display = "block";
                showDataButton.style.display = "block";
            } else {
                detectButton.style.display = "none";
                showDataButton.style.display = "none";
            }
        } else if (event.target && event.target.classList.contains("audio-name")) {
            const audioUrl = event.target.getAttribute("data-audio");
            const audio = new Audio(audioUrl);
            audio.play();
        }
    });
    $(document).ready(function() {
        $('#audioTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 10
        });
    });
    document.getElementById('detectButton').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent form submission
    
        const audioData = [];
        let allLabelsSelected = true; // Flag to check if all labels are selected
    
        Array.from(audioTableBody.rows).forEach(row => {
            const nama_audio_latih = row.cells[1].textContent;
            const nada_ori_latih = row.cells[3].textContent;
            const intonasi_ori_latih = row.cells[4].textContent;
            const volume_ori_latih = row.cells[5].textContent;
            const labelSelectElement = row.cells[6].querySelector('select');
            const label_manual_latih = labelSelectElement.value;
    
            // Check if a label is selected
            if (label_manual_latih === 'Pilih Label') {
                allLabelsSelected = false;
            }
    
            audioData.push({
                nama_audio_latih: nama_audio_latih,
                nada_ori_latih: nada_ori_latih,
                intonasi_ori_latih: intonasi_ori_latih,
                volume_ori_latih: volume_ori_latih,
                label_manual_latih: label_manual_latih
            });
        });
    
        if (allLabelsSelected) {
            // Proceed with form submission if all labels are selected
            fetch('/HasilDataLatih', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(audioData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Gagal menyimpan data ke database.');
                }
                return response.json();
            })
            .then(data => {
                window.location.href = '/HasilDataLatih';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Terjadi kesalahan. Silakan coba lagi.');
            });
        } else {
            // Show alert message if not all labels are selected
            window.alert('Harap pilih semua label manual sebelum melanjutkan.');
        }
    });    
</script>
</html>