<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Data Latih</title>
    <!-- Custom Google font-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='images/emotion.png') }}" rel='shortcut icon'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="/Beranda"><span class="fw-bolder text-primary">Deteksi Emosi</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item"><a class="nav-link text-primary" style="font-size: 18px;" href="/Beranda">Beranda</a></li>
                    <li class="nav-item"><a class="nav-link text-primary" style="font-size: 18px;" href="/SingleAudio">Single Audio</a></li>
                    <li class="nav-item"><a class="nav-link text-primary" style="font-size: 18px;" href="/DataLatih">Data Training</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <h3 style="text-align: center;">Form Data Training</h3>

    <!-- Form for data validation -->
    <div class="container mt-4">
        <form id="dataValidationForm" action="/DataLatih" method="post">
            <div class="mb-3">
                <label for="totalDataset" class="form-label">Total Dataset</label>
                <input type="text" class="form-control" id="totalDataset" name="totalDataset" placeholder="Masukan Total Datasets" required>
            </div>
            <div class="mb-3">
                <label for="ratio" class="form-label">Rasio Data Latih : Data Uji</label>
                <select class="form-select" id="ratio" name="ratio">
                    <option selected disabled>Pilih Rasio</option>
                    <option value="0.6">60% Latih - 40% Uji</option>
                    <option value="0.7">70% Latih - 30% Uji</option>
                    <option value="0.8">80% Latih - 20% Uji</option>
                    <option value="0.9">90% Latih - 10% Uji</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="numTrainingData" class="form-label">Jumlah Data Latih</label>
                <input type="text" class="form-control" id="numTrainingData" name="numTrainingData" disabled>
            </div>
            <div class="mb-3">
                <label for="numTestingData" class="form-label">Jumlah Data Uji</label>
                <input type="text" class="form-control" id="numTestingData" name="numTestingData" disabled>
            </div>
            <button type="submit" class="btn btn-primary">Tampilkan Data Latih</button>
        </form>
    </div>
</main>
<!-- Footer-->
<footer
  class="bg-white py-4 mt-auto"
  style="position: fixed; bottom: 0; width: 100%"
>
  <div class="container px-5">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto">
        <div class="small m-0 px-10" style="font-size: 18px;">
          <strong>Copyright &copy; JC Developer</strong>
        </div>
      </div>
    </div>
  </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script>
        document.getElementById('ratio').addEventListener('change', function() {
            var totalDataset = parseInt(document.getElementById('totalDataset').value);
            var ratio = parseFloat(this.value);
            var numTrainingData = Math.ceil(totalDataset * ratio);
            var numTestingData = totalDataset - numTrainingData;
            document.getElementById('numTrainingData').value = numTrainingData;
            document.getElementById('numTestingData').value = numTestingData;
        });
    </script>
</body>
</html>
