<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Hasil Pendeteksian Single Audio</title>
    <!-- Google font khusus -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='images/emotion.png') }}" rel="shortcut icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Ikon Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- CSS tema inti (termasuk Bootstrap) -->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
    <!-- Navigasi -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="/Beranda"><span class="fw-bolder text-primary">Deteksi Emosi</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item"><a class="nav-link text-primary" style="font-size: 18px;" href="/Beranda">Beranda</a></li>
                    <li class="nav-item"><a class="nav-link text-primary" style="font-size: 18px;" href="/SingleAudio">Single Audio</a></li>
                    <li class="nav-item"><a class="nav-link text-primary" style="font-size: 18px;" href="/DataLatih">Data Latih</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-4">
        <h3 class="text-center mb-4">Hasil Pendeteksian Emosi (Single Audio)</h3>
        <div class="audio-player text-center mb-4">
            <audio controls>
              <!--Folder audio_ori_uji --->
              <source src="{{ url_for('download_file', folder='audio_ori_uji', filename=file_name) }}" type="audio/wav">
              <source src="{{ url_for('download_file', folder='audio_ori_uji', filename=file_name) }}" type="audio/mpeg">
              <!--Folder marah_uji --->
              <source src="{{ url_for('download_file', folder='marah_uji', filename=file_name) }}" type="audio/wav">
              <source src="{{ url_for('download_file', folder='marah_uji', filename=file_name) }}" type="audio/mpeg">
              <!--Folder tidakmarah_uji --->
              <source src="{{ url_for('download_file', folder='tidakmarah_uji', filename=file_name) }}" type="audio/wav">
              <source src="{{ url_for('download_file', folder='tidakmarah_uji', filename=file_name) }}" type="audio/mpeg">
            </audio>
        </div>
        <div class="text-center">
            <p class="fw-bold">Nama Audio: {{ file_name }}</p>
            <p class="fw-bold">Nada: {{ nada }}</p>
            <p class="fw-bold">Intonasi: {{ intonasi }}</p>
            <p class="fw-bold">Volume: {{ volume }}</p>
            <p class="fw-bold">Label Manual: {{ session['label_manual'] }}</p>
        </div>
        <hr>
        <div class="text-center">
            <h4>Nilai Kernel RBF Antara Data Uji Baru dan Data Uji:</h4>
            <ul class="list-unstyled" style="font-weight: 600;">
                {% for kernel_value in kernel_values_display %}
                <li>{{ kernel_value }}</li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <h4 class="text-center">Langkah Perhitungan Klasifikasi:</h4>
        <div class="text-center">
            <pre>
                <strong>
                {% for step in calculation_steps %}
                {{ step }}
                {% endfor %}
                </strong>
            </pre>
        </div>
        <h4 class="text-center">Hasil Emosi: {{ prediction_result }}</h4>
        <br>
        <hr>
        <h4 class="fw-bold text-center">Confusion Matrix dan Akurasi</h4>
        <div class="mt-4 text-center">
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th></th>
                        <th colspan="2" class="text-center">Prediksi</th>
                    </tr>
                    <tr>
                        <th>Aktual</th>
                        <th>Predicted Marah</th>
                        <th>Predicted Tidak Marah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>True Marah</th>
                        <td>TP: {{ confusion_matrix[0][0] }}</td>
                        <td>FN: {{ confusion_matrix[0][1] }}</td>
                    </tr>
                    <tr>
                        <th>True Tidak Marah</th>
                        <td>FP: {{ confusion_matrix[1][0] }}</td>
                        <td>TN: {{ confusion_matrix[1][1] }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Metrics -->
            <h5 class="fw-bold">Akurasi: {{ akurasi_persen }}</h5>
            <h5 class="fw-bold">Presisi: {{ presisi_persen }}</h5>
            <h5 class="fw-bold">Recall: {{ recall_persen }}</h5>
    </div>
</main>
<footer class="bg-white py-4 mt-auto" style="bottom: 0; width: 100%">
    <div class="container px-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                <div class="small m-0 px-10" style="font-size: 18px">
                    <strong>Hak Cipta &copy; JC Developer</strong>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- JS tema inti -->
<script src="js/scripts.js"></script>
</body>
</html>