<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Unggah CSV</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link href= "{{ url_for('static', filename='images/emotion.png') }}" rel='shortcut icon'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" href="/Beranda"><span class="fw-bolder text-primary">Deteksi Emosi</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item"><a class="nav-link text-primary" style="font-size: 18px;" href="/Beranda">Beranda</a></li>
                <li class="nav-item"><a class="nav-link text-primary" style="font-size: 18px;" href="/SingleAudio">Single Audio</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-file me-1"></i>
                <strong>Tabel Data </strong> 
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="audioTable">
                        <thead class="table-primary">
                            <tr>
                                <th>Nama Audio</th>
                                <th>Nada Ori</th>
                                <th>Intonasi Ori</th>
                                <th>Volume Ori</th>
                                <th>Label Manual</th>
                                <th>Label Otomatis</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td>{{ row['nama_audio'] }}</td>
                                <td>{{ row['nada_ori'] }}</td>
                                <td>{{ row['intonasi_ori'] }}</td>
                                <td>{{ row['volume_ori'] }}</td>
                                <td>{{ row['label_manual'] }}</td>
                                <td>{{ row['label_otomatis'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
<footer class="bg-white py-4 mt-auto" style="position: fixed; bottom: 0; width: 100%">
    <div class="container px-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                <div class="small m-0 px-10" style="font-size: 18px;">
                    <strong>Copyright &copy; JC Developer</strong>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#audioTable').DataTable();
    });
</script>
</body>
</html>
